#audio-player-container {
    position: relative;
    margin: 20px 5% auto 5%;
    width: 90%;
    max-width: 500px;
    height: 80px;
    background: #fff;

    display: flex;
    align-items: center;
}

#state-icon {
    position: absolute;
    left: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: inherit;
}

#state-icon:hover > .icon{
    filter: invert(18%) sepia(4%) saturate(5384%) hue-rotate(184deg) brightness(97%) contrast(92%);
    scale: 1.2;
    transition: scale 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;
}

p {
    position: absolute;
    top: -18px;
    right: 5%;
    padding: 0 5px;
    margin: 0;
    font-size: 28px;
    background: #fff;
}

path {
    stroke: #007db5;
}