#audio-player-container {
    position: relative;
    margin: 20px 5% auto 5%;
    width: 90%;
    max-width: 500px;
    height: 80px;
    background: #fff;

    display: flex;
    align-items: center;
}

#audio-player-container::before {
    position: absolute;
    content: '';
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    background: linear-gradient(to left, #007db5, #ff8a00);
    z-index: -1;
}

#state-icon {
    position: absolute;
    left: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#state-icon:hover > .icon{
    filter: invert(18%) sepia(4%) saturate(5384%) hue-rotate(184deg) brightness(97%) contrast(92%);
    scale: 1.2;
    transition: scale 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;
}

p {
    position: absolute;
    top: -18px;
    right: 5%;
    padding: 0 5px;
    margin: 0;
    font-size: 28px;
    background: #fff;
}

path {
    stroke: #007db5;
}