<div class="music_card playing">
    <div class="image"></div>
    
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    
    <div class="info">
        <div class="title">Username</div>
        <div class="artist">Title</div>
    </div>
    
    <i class="fa fa-pause triger"></i>
</div>