<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Main Page</title>
</head>
<body>
    <div class="container">
        <ul class="nav-bar">
            <li class="icon">icon</li>
            <li class="page1">page1</li>
            <li class="page2">page2</li>
            <li class="page3">page3</li>
        </ul>

        <div class="empty">
            <div class="fill" draggable="true">

            </div>
        </div>
        <button class="play-btn"> Play </button>


        <script src="front.js"></script>
    </div>
</body>
</html>