<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>TuneShare</title>
</head>
<body>
     
    <div class="container"> 
        <%- include('partials/nav') %>
        <div class="bouncy-box-cover">
            <div class="bouncy-box">
                <div class="form-cover">
                    <form action="/api/upload" method="POST" enctype="multipart/form-data">
                        <div class="submit-form">
                            drag & drop or...
                            <label for="audio-upload" class="custom-file-upload" tabindex="1">
                                <ion-icon name="cloud-upload-outline" size="large"></ion-icon>
                            </label>
                            <span class="file-name"></span>
                        </div>
                        
                        
                        <div class="detail-box">
                            <%- include('partials/audioPlayer', {filename: ''}) %>
                            
                            <div class="input-box">
                                <input class="title-input" type="text" name="title" required>
                                <label class="title-label">title</label>
                            </div>
                            <input class="file-upload-input" 
                            id="audio-upload"
                            draggable="true" 
                            type="file" 
                            accept="audio/*, " 
                            name="audio">
                            
                            <!-- <button type="submit">Upload</button> We are using fetch instead-->  
                            <button class="upload-btn" type="submit">Upload</button>
                        </div>
                    </form>
            </div>
            </div>
        </div>
            
            
        <script src="front.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </div>
</body>
</html>

    
