@import url('htttps://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

:root{
    --bg-clr: #293550;
    --text-clr: rgb(204, 204, 204);

    --bg-dropdown: rgb(255, 255, 255);
    --th-dropdown-hover: rgb(75, 75, 75);
    --btn-text: white;
    --profile-icon: #f21f1f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--text-clr);
}

body{
    min-height: 100%;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    min-height: 100svh;
    min-width: 100%;
    background-color: var(--bg-clr);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    user-select: none;
    top: 0;
    left: 0;
    width: 100%;
}

ul li {
    list-style: none;
}

.form-cover{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.submit-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 100px;
    border: 10px solid black;
}

.play-btn{

}

/* dropdown: */
.Nav-dropdown{
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.Nav-btn-drop{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;

    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    position: relative;
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;
    background-color: transparent;

    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    vertical-align: middle;

    -webkit-text-decoration: none;
    text-decoration: none;

    color: inherit;
    text-align: center;

    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;

    font-size: 1.5rem;
    padding: 8px;
    border-radius: 50%;
    overflow: visible;
    color: rgba(0, 0, 0, 0.54);
    -webkit-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 0px;
}

.Nav-btn-icon{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;

    width: 40px;
    height: 40px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: var(--btn-text);
    background-color: var(--profile-icon);
    /* just to aligh text center */
    text-align: center;
    padding-top: 5px;
}

.Nav-span{
    cursor: pointer;
    color: inherit;
    text-align: center;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.54);
}

.Nav-dropdown-container{
    aspect-ratio: 5/7;
    visibility: hidden;
    opacity: 1;

    transform: none;
    transition: opacity 267ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 178ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform-origin: 112px -1.75px 0px;

    top: 95px;
    right: 50px;
    
    background-color: var(--bg-dropdown);
    color: rgba(255, 255, 255, 0.87);
    border-radius: 4px;
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2),0px 8px 10px 1px rgba(0,0,0,0.14),0px 3px 14px 2px rgba(0,0,0,0.12);
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
    min-width: 80px;
    min-height: 180px;
    max-width: calc(100% - 32px);
    max-height: calc(100% - 32px);
    outline: 0;
    z-index: 1;
}

.Nav-dropdown-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    background: var(--th-dropdown);
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    outline: 0;

    padding: 30px;
}

.nav-content {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.Nav-dropdown-list a {
    text-decoration: none;
}