@import url('htttps://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

:root{
    --bg-clr: rgb(255, 255 ,255);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100%;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    min-height: 100svh;
    min-width: 100%;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
}

.nav-bar

.play-btn{

}