<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Main Page</title>
</head>
<body>
    <div class="container"> 
        <%- include('partials/nav') %>
        <div class="music_card playing">
            <div class="image"></div>
            
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            
            <div class="info">
                <div class="title">Usernamem</div>
                <div class="artist">Title</div>
            </div>
            
            <i class="fa fa-pause triger"></i>
        </div>
            
            
            
        <script src="front.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </div>

    <script>
        $(document).ready(function(){
    
    
    
    var music = new Audio('https://files.catbox.moe/74lvw6.m4a');
    
    music.volume = 0.2;
    music.play();
    music.loop = true;
    
    $('.triger').click(function(){
        
        
        
        if(music.paused == false){
            
            music.pause();
            $('.fa').removeClass('fa-pause');
            $('.fa').addClass('fa-play');
            $('.music_card').removeClass('playing');
            
            
        }else{
            music.play();
            $('.fa').removeClass('fa-play');
            $('.fa').addClass('fa-pause');
            $('.music_card').addClass('playing');
        }
        
        
        
        
        
    });
});
    </script>
    <style>
        .music_card{
  margin: 150px auto;
  background: #fff;
  box-shadow: 9px 7px 37px -6px rgba(0,0,0,0.75);
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 550px;
}

@keyframes wave{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}

.image{
    background: url("https://media.tenor.com/aj2m5lTme9cAAAAC/darkville-rpg.gif") no-repeat 70%;
    height: 300px;
    width: 310px;
    position: absolute;
    background-size: cover;
    opacity: 0.3;
    z-index: 1;
}
.image:after {
  height: 100px;
  content: '';
  top: 200px;
  position: absolute;
  width: 100%;
  z-index: 1;
  background: linear-gradient(rgba(9, 2, 4, 0), #444);
}
.wave {
  position: absolute;
  height: 750px;
  width: 750px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -70%;
  margin-top: -130%;
  background: radial-gradient(#353535, #383737);
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 10px;
}

.wave{
    animation: wave 55s linear infinite;
    -wbkit-animation: wave 55s linear infinite;
    -moz-animation: wave 55s linear infinite;
    border-radius: 40%;
}

.wave:nth-child(2){
    animation: wave 50s linear infinite;
    -wbkit-animation: wave 50s linear infinite;
    -moz-animation: wave 50s linear infinite;
}

.wave:nth-child(3){
    animation: wave 45s linear infinite;
    -wbkit-animation: wave 45s linear infinite;
    -moz-animation: wave 45s linear infinite;
}

.playing .wave{
    border-radius: 40%;
    animation: wave 3000ms linear infinite;
    -wbkit-animation: wave 3000ms linear infinite;
    -moz-animation: wave 3000ms linear infinite;
}
.playing .wave:nth-child(2){
    border-radius: 40%;
    animation: wave 4000ms linear infinite;
    -wbkit-animation: wave 4000ms linear infinite;
    -moz-animation: wave 4000ms linear infinite;
}
.playing .wave:nth-child(3){
    border-radius: 40%;
    animation: wave 5000ms linear infinite;
    -wbkit-animation: wave 5000ms linear infinite;
    -moz-animation: wave 5000ms linear infinite;
}
.info{
    bottom: 60px;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}
.title{
    font-size: 1.4em;
    font-family: "Lato", sans-serif;
    color: #333;
    margin-bottom: 8px;
}
.artist{
    font-family: "Lobster", sans-serif;
    font-size: 1.2em;
    color: #787878;
}

.fa{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #555;
    font-size: 1.2em !important;
    cursor: pointer;
}
    </style>
</body>
</html>
