.audio-card {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    max-width: 320px;
    border-radius: 20px;
}

.card-title {
    margin-left: 0.5rem;
    color: #374151;
    font-size: 18px;
}

.card-text {
    color: #374151;
}

.card-upvote {
    margin-right: 0.5rem;
}

.cards-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}




/* DONT TOUCH ABOVE THIS */
.music_card{
    margin: 50px auto;
    background: #fff;
    box-shadow: 9px 7px 37px -6px rgba(0,0,0,0.75);
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 550px;
  }
  
  @keyframes wave{
      0%{ transform: rotate(0deg); }
      100%{ transform: rotate(360deg); }
  }
  
  .image{
      background: url("https://media.tenor.com/aj2m5lTme9cAAAAC/darkville-rpg.gif") no-repeat 70%;
      height: 300px;
      width: 310px;
      position: absolute;
      background-size: cover;
      opacity: 0.3;
      z-index: 1;
  }
  .image:after {
    height: 100px;
    content: '';
    top: 200px;
    position: absolute;
    width: 100%;
    z-index: 1;
    background: linear-gradient(rgba(9, 2, 4, 0), #444);
  }
  .wave {
    position: absolute;
    height: 750px;
    width: 750px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -70%;
    margin-top: -130%;
    background: radial-gradient(#353535, #383737);
  }
  
  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 10px;
  }
  
  .wave{
      animation: wave 55s linear infinite;
      -wbkit-animation: wave 55s linear infinite;
      -moz-animation: wave 55s linear infinite;
      border-radius: 40%;
  }
  
  .wave:nth-child(2){
      animation: wave 50s linear infinite;
      -wbkit-animation: wave 50s linear infinite;
      -moz-animation: wave 50s linear infinite;
  }
  
  .wave:nth-child(3){
      animation: wave 45s linear infinite;
      -wbkit-animation: wave 45s linear infinite;
      -moz-animation: wave 45s linear infinite;
  }
  
  .playing .wave{
      border-radius: 40%;
      animation: wave 3000ms linear infinite;
      -wbkit-animation: wave 3000ms linear infinite;
      -moz-animation: wave 3000ms linear infinite;
  }
  .playing .wave:nth-child(2){
      border-radius: 40%;
      animation: wave 4000ms linear infinite;
      -wbkit-animation: wave 4000ms linear infinite;
      -moz-animation: wave 4000ms linear infinite;
  }
  .playing .wave:nth-child(3){
      border-radius: 40%;
      animation: wave 5000ms linear infinite;
      -wbkit-animation: wave 5000ms linear infinite;
      -moz-animation: wave 5000ms linear infinite;
  }
  .info{
      bottom: 60px;
      position: absolute;
      text-align: center;
      left: 0;
      right: 0;
  }
  .title{
      font-size: 1.4em;
      font-family: "Lato", sans-serif;
      color: #333;
      margin-bottom: 8px;
  }
  .artist{
      font-family: "Lobster", sans-serif;
      font-size: 1.2em;
      color: #787878;
  }
  
  .fa{
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: #555;
      font-size: 1.2em !important;
      cursor: pointer;
  }