<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Main Page</title>
    <link rel="stylesheet" href="top.css">
</head>
<body>
    <div class="container"> 
        <%- include('partials/nav') %>
        <div class="music_card playing">
            <div class="image"></div>
            
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            
            <div class="info">
                <div class="title">Usernamem</div>
                <div class="artist">Title</div>
            </div>
            
            <i class="fa fa-pause triger"></i>
        </div>
            
            
            
        <script src="front.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </div>

</body>
</html>
