<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Top Tunes</title>
    <link rel="stylesheet" href="top.css">
</head>
<body>
    <!-- 
        <a href="../tune/%=post._id%"
            <div class="audio-card">
                <h1>%= post.title %</h1>
                <p>Posted by %= post.username % on %= post.timestamp %</p>
                <div>
                    <ion-icon class="card-upvote" name="thumbs-up-outline"></ion-icon>
                    <p class="card-upvote-text">%= post.upvotes % upvotes</p>
                </div>
            </div>
        </a>
     -->

     <!-- 
        <div class="audio-card">
                    <h1>%= post.title %>/h1>
                </div> 
      -->
    <div class="container"> 
        <%- include('partials/nav') %>
        <div class="cards-cover">
        <ul>
            <% posts.forEach((post, index) => { %>
                <li>
                    <a href="../tune/<%=post._id%>"><%= post.title %></a>
                    <ion-icon name="thumbs-up-outline"></ion-icon>
                </li>
            <% }) %>
        </ul>
         </div>


            
            
        <script src="front.js"></script>
        <script>
            const audioPlayers = document.querySelectorAll('audio');
            audioPlayers.forEach((audioPlayer) => {
                console.log(audioPlayer);
                console.log(audioPlayer.id);
                const index = audioPlayer.id.split('-')[1];

                const icon = document.querySelector('.icon[data="' + index + '"]');
                const stateIcon = document.querySelector('.state-icon[data="' + index + '"]');
                let state = 'play';

                icon.addEventListener('click', swtichPlayState);
                stateIcon.addEventListener('keydown', (evt) => {
                    //for input not happening
                    const tagName = evt.target.tagName.toLowerCase();
                    if (tagName === 'input' || tagName === 'textarea') {
                        return;
                    }
                    //pause and play with space
                    if (evt.key === ' ') {
                        evt.preventDefault();
                        swtichPlayState();
                    }
            });

            function swtichPlayState() {
                if(icon.classList.contains("pause")) {
                    icon.classList.remove("pause");
                    icon.setAttribute('name', 'pause-outline');
                    icon.classList.add("play");
                    audioPlayer.play();

                } else {
                    icon.classList.remove("play");
                    icon.setAttribute('name', 'play-outline');
                    icon.classList.add("pause");
                    audioPlayer.pause();
                }
            }
        });
        </script>
    </div>
</body>
</html>

    
