<div id="audio-player-container">
    <p>Audio Player</p>
    <!-- swaps with pause icon -->
    <button id="play-icon">
        <ion-icon name="play-outline" size="large"></ion-icon>
    </button>
</div>

