<audio id="audio" src="#">au</audio>
<div id="audio-player-container">
    <!-- swaps with pause icon 'pause-outline / play-outline' -->
    <div id="state-icon">
        <ion-icon class="icon pause" name="play-outline" size="large"></ion-icon>
    </div>
</div>

<script>
    const icon = document.querySelector('.icon');
    let state = 'play';

    icon.addEventListener('click', () => {
        if(icon.classList.contains("pause")) {
            icon.classList.remove("pause");
            icon.setAttribute('name', 'pause-outline');
            icon.classList.add("play");
            audio.play();

        } else {
            icon.classList.remove("play");
            icon.setAttribute('name', 'play-outline');
            icon.classList.add("pause");
            audio.pause();
        }
    });
</script>