<div id="audio-player-container">
    <!-- swaps with pause icon 'pause-outline / play-outline' -->
    <button id="state-icon" tabindex="2">
        <ion-icon class="icon pause" name="play-outline" size="large" data="<%=index%>"></ion-icon>
    </button>
</div>

<script>
    const icon = document.querySelector('.icon');
    const icons = document.querySelector('.icon');
    let state = 'play';

    window.addEventListener('keydown', (evt) => {
        //for input not happening
        const tagName = evt.target.tagName.toLowerCase();
        if (tagName === 'input' || tagName === 'textarea') {
            return;
        }
        //pause and play with space
        if (evt.key === ' ') {
            evt.preventDefault();
            swtichPlayState();
        }
    });

    icon.addEventListener('click', swtichPlayState);

    function swtichPlayState() {
        if(icon.classList.contains("pause")) {
            icon.classList.remove("pause");
            icon.setAttribute('name', 'pause-outline');
            icon.classList.add("play");
            audio.play();

        } else {
            icon.classList.remove("play");
            icon.setAttribute('name', 'play-outline');
            icon.classList.add("pause");
            audio.pause();
        }
    }
</script>