
    <ul class="nav-bar">
        <li class="home-btn" tabindex="1">
            <a href="/">
                <ion-icon name="home-outline" size="large"></ion-icon>
            </a>
            
        </li>
        <div class="nav-content">
            <li class="top" tabindex="1">
                <a href="top">
                    <ion-icon name="medal-outline" size="large"></ion-icon>
                </a>
            </li>
            <div class="Nav-dropdown">
                <button class="Nav-btn-drop" >
                    <div class="Nav-btn-icon" tabindex="1">
                        <ion-icon name="person-outline" size="large"></ion-icon>
                    </div>
                    <span class="Nav-span">
                    </span>
                </button>
                <div class="Nav-dropdown-container">
                    <ul class="Nav-dropdown-list">
                        <li class='Nav-list-item'>Profile</li>
                        <li class='Nav-list-item'>Account</li>
                        <li class='Nav-list-item'>Dashboard</li>
                        <a href="#">
                            <li class='Nav-list-item'>
                                Login
                            </li>
                        </a>
                    </ul> 
                </div>
            </div>
        </div>
    </ul>

